!!! 5
html
  head
    title Ignition!
    link(rel="stylesheet", href="/css/bootstrap.min.css", type="text/css")
    link(rel="stylesheet", href="/css/bootstrap-responsive.min.css", type="text/css")
    link(rel="stylesheet", href="/css/ignition.css", type="text/css")
    // meta(http-equiv="refresh", content="5")
  body
    p
        <br/>
    .container
        .hero-unit
            h1 #{instanceId} (#{elasticIp}) is #{currentState}
            - var c = (action === 'start' ? 'btn btn-success btn-large huge-button' : 'btn btn-danger btn-large huge-button')
            a(class=c, href='/#{action}/#{instanceId}/#{elasticIp}') #{action}
    
