!!! 5
html
  head
    title Ignition!
  body
    h1 Instance #{instanceId} is #{currentState}
    form(action="/#{action}/#{instanceId}", method="post")
        input(type="submit", value="#{action}")
    
