!!! 5
html
  head
    title Ignition!
  body
    h1 Instance #{instanceId} (#{elasticIp}) is #{currentState}
    form(action="/#{action}/#{instanceId}/#{elasticIp}", method="post")
        input(type="submit", value="#{action}")
    
